cffi==1.14.5
cryptography==3.2.1
Django==2.2.3
django-filter==2.4.0
django-rest-knox==4.1.0
djangorestframework==3.12.4
djangorestframework-stubs==1.2.0
importlib-metadata==2.1.1
Markdown==3.2.2
numpy==1.18.5
pandas==0.24.2
pycparser==2.20
python-dateutil==2.8.1
pytz==2019.1
six==1.15.0
sqlparse==0.3.0
zipp==1.2.0
